.box {
  border: 1px solid #79CADC;
  border-radius: 5px;
  box-shadow: 0 0 20px #79cadc5e;
  width: 280px;
  height: auto;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 10px;
}